{
     font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 44px 0 144px 74px;
}
.logo-img{
    width: 568px;
    height: 500px;
}
header{
    collor:red
}